html {
  --primary-color:#4E8397;
  --secondary-color: #FFFFFF  ;
  --text-primary-color: #c0c5ce;
  --text-secondary-color:#65737e;
  --text-third-color: #f79c7a
}

body{
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
}

figure,
img{
  max-width: 100% ;
}
footer{
  background-color: var(--secondary-color);
}

h1,
.fab{
  font-size: 1.8em;
  padding: .25em;
  margin: 20px;
  text-align: center;
  color:#48D1CC
}

header{
display: table;
width: 100%;
    margin: 0;
    padding: 0rem 0rem;
    vertical-align: middle;
box-sizing: border-box;
background-color: var(--secondary-color);
}

header h1{
  color:#48D1CC;
  font-size: 2em;
  padding: .2em;
  margin: 1rem;
  float: left;
  }

header nav ul{
font-size: 1em;
font-weight: bold;
padding: .5em 1em;
list-style-type: none;
display: flex;
float: right;
margin:0;
}

li a{
  font-size: .5em;
  margin: .5rem 1rem;
}

p{
  margin:0 0;
  padding: 1rem .5rem;
  text-align: center;
}

.align-center{
align-items: center;
}

.bold--italic{
color: 	#48D1CC;
font-style:italic;
}

.button{
  border-radius: 50px;
  padding:1rem;
  color:white;
  text-decoration: none;
  font-size: 30px;
}

.button a{
  text-decoration: none;
  color: #AFEEEE ;
}

.button:focus,
.button:hover{
background: #d3d3d3 ;
transition: background 3s;
}

.cta{
  color:#AFEEEE;
}

.flex .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-125%, -80%);
  -ms-transform: translate(-0%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.flex .btn--2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(+60%, -50%);
  -ms-transform: translate(-0%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.flex .btn--3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-108%, +600%);
  -ms-transform: translate(-0%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.flex .btn--4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(+25%, +600%);
  -ms-transform: translate(-0%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.flex{
  display: flex;
  padding: 5px 10px 5px 0;
}
.flex label{
  margin: 5px 10px 5px 0;
  display:inline-block;
  text-align: center;
  font-size: 15px;
  align-content: center;
}

.flex figure img{
  height: 55vh;
  width: 400vw;
  padding: 0rem ;
  margin: 0rem 2rem;
}

.flex h3{
  text-align: center;
}

.flex p{
  text-align: center;
  font-size: 20px;
  padding:1.5rem 1.5rem 1.5rem 1.5rem;
  line-height: 2.5rem;
}

.flex .quiz{
  padding: 1rem;
}

.flex--wrap{
  flex-wrap: wrap;
}

.justify-center{
  justify-content: center;
}

.flex .name input{
  margin: 5px 10px 5px 0;
  display:inline-block;
  text-align: center;
  font-size: 15px;
  align-content: center;
  width: 22rem;
}

.root p{
  font-size: 20px ;
  line-height: 2.5rem;
  margin: 0px 40px 10px 40px;
}

.stress figure img{
  height: 50vh;
  width: 300vw;
  padding: 0rem ;
  margin: 0rem 2rem;
}

#mental-health-awareness{
  background: url(https://i.pinimg.com/originals/28/39/af/2839aff2b83bb7f66605b02edf763ab2.jpg)
  top center
    no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
}

#quiz-picture {
  background: url(https://assets.teenvogue.com/photos/5c1963245086104dad4475b7/16:9/w_2560%2Cc_limit/GettyImages-862457080.jpg)
  top center
    no-repeat;
  background-size: cover;
  height:50vh;
  width: 100vw;
}











