html {
--primary-color:--#FFFFFF;
--secondary-color #808080 ;
--third-color: #D5CABD;
--text-primary-color :#a6a6a6;
--text-secondary-color : #FEFEDF;
}
body{
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: contain;
  background- position: right center;
  font-family: "Brandon Grotesque Thin", serif;
  font-size : 10px;
}
header{
  text-align: center;
  padding: 0rem;
  background-color: var(--primary-color);
  font-family: "brandon-grotesque", serif;
}

h1{
  color: #a6a6a6;
  font-size: 5em;
  padding: 0rem;
}

h2{
font-size:5em;
}

ul{
  list-style-type: none;
  padding: 0;
}

nav ul{
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  padding: 0rem;
}

p,
input,
label,
button{
  font-size: 1.777em;
  text-align:center;
  padding: 0 2rem;
}

label{
  margin-right: 0.25rem;
}

input{
  border: solid, thin, red;
  border-radius: 3px;

}

figure,
img{
max-width: 100%;
}

form{
  padding: 1rem;
}
form div{
  background-color: powderblue;
  margin-bottom: 0.25rem;
  max-width: 18vw;
  width: 78vw;
}

footer{
  background-color: var(--text-secondary-color);
  padding: 1.5rem;
  text-align :center;
}


.button{
  background-color: var(--text-secondary-color);
  padding: 0.5rem;
  border-radius: 3px;
  align-items: flex-end;
}

.button--submit{
  background-color: -- pink;
  color: white;
}

.button a{
  text-decoration: none;
  color: var(--text-primary-color)
}

.flex{
  display:flex;
}

.mobile-hidden{
  display:none;
}

.justify-space-around{
justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

@media screen and (min-width: 768px){
  form {
margin : 0 auto;
padding: 0;
width: 80vw;
  }
  form > div{
    max-width: none;
  }

  .flex--sm{
display: flex;
}
}

@media screen and (min-width: 885px){
  #yoga {
    background: url("https://i.pinimg.com/originals/28/39/af/2839aff2b83bb7f66605b02edf763ab2.jpg");
    width: 100vw;
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .flex--sm{
    display: flex;
  }
}

