html {
--primary-color:--#FFFFFF;
--secondary-color #808080 ;
--third-color: #D5CABD;
--text-primary-color :#a6a6a6;
--text-secondary-color : #FEFEDF;
}
body{
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: contain;
  background- position: right center;
  font-family: "Brandon Grotesque Thin", serif;
  font-size : 10px;
}
header{
  text-align: center;
  padding: .1rem;
  background-color: var(--primary-color);
  font-family: "brandon-grotesque", serif;
}

h1{
  color: #a6a6a6;
  font-size: 5em;
}
h2{
font-size:5em;
}
ul{
  list-style-type: none;
  padding: 0;
}
nav ul{
  font-size: 2em;
  display: flex;
  justify-content: space-around;
}
p{
  font-size: 2.5em;
  text-align:center;
  padding: 0 2rem;
}

figure,
img{
max-width: 100%;


}
footer{
  background-color: var(--text-secondary-color);
  padding: 1.5rem;
  text-align :center;
}

.button{
  background-color: var(--text-secondary-color);
  padding: 0.5rem;
  border-radius: 3px
}
.button a{
  text-decoration: none;
  color: var(--text-primary-color)
}
.flex{
  display:flex;
}
.mobile-hidden{
  display:none;
}

@media screen and (min-width: 885px){
  #yoga {
    background: url("http://static1.squarespace.com/static/4fed272c84ae1a1ffc110128/t/5b744276cd8366c5496db1fd/1534345851715/omfest.jpg?format=1500w");
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .flex--sm{
    display: flex;
  }
}

